/*padding:10px 5px 15px 20px;
          top padding is 10px
          right padding is 5px
          bottom padding is 15px
          left padding is 20px*/


header {
  /*padding: 10px;*/
  float: center;
  width: 100%;
  position: fixed;
}

header .loggedInAs {
  float: center;
  width: 100%;
  padding-right: 25px;
  /*height: 25px;*/
  background-color:#4B79AD;
  text-align: right;
  color:white;
  margin-right: 40px;
}

header .row {
  display: flex;
  align-items: center;
  /*margin: -10px;*/
  border-style: solid;
  border-bottom-width: thin;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color:#4B79AD;
  background-color:#EBEBEC;
}

header .breadCrumbs {
  float: center;
  width: auto;
  padding-top; 15px;
  /*height: 35px;*/
  /*background-color:#EBEBEC;*/
}

ul#breadcrumbs{
    list-style:none;
}

.crumbs2 {
	display: block;
	margin-left: 27px;
  /*margin-bottom: -15px;
	padding: 15px 0px 0px 0px;*/
  /*padding-left: 25px;*/
}
.crumbs2 li {
  display: inline;
}

/*.crumbs2 li a,
.crumbs2 li a:link,
.crumbs2 li a:visited {
	display: block;
	float: left;
	font-size: 12px;
	padding: 4px 10px 4px 10px;
	position: relative;
	text-decoration: none;
  border-style: solid;
  border-width: thin;
  border-color:#4B79AD;
}*/

header h1 {
  font-weight: 350;
  color:	#191970;
  margin: 10px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

/*hide role-specific div html*/
div.Admin, div.TA, div.Manager {
  display: none;
}

header p {
  padding: 0 20px;
  margin: 0;
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: grey;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

body {
  font-family: 'Courier New', sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  clear: both;
}

/*             HEADER                  */

body h2 {
  font-weight: 300;
  /*color:	#191970;*/
  margin-left: -20px;
}

div#skillsList {
  margin: 100px;
}


/*             FOOTER                  */

footer {
  font-size: 12px;
  padding: 10px 0;
  background-color:#EBEBEC;
  float: center;
  width:auto;
  border-style: solid;
  border-bottom-width: 0px;
  border-top-width: thin;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color:#4B79AD;
  bottom:0;
  position:fixed;
  width: 100%;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer .row {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

div#footertext1 {
  float: left;
}
div#footertext2 {
  float: right;
}
div#footertext3 {
  text-align: center;
}
