/*padding:10px 5px 15px 20px;
          top padding is 10px
          right padding is 5px
          bottom padding is 15px
          left padding is 20px*/


header {
  /*padding: 10px;*/
  float: center;
  width: 100%;
  position: fixed;
}

header .row {
  display: flex;
  align-items: center;
  /*margin: -10px;*/
  border-style: solid;
  border-width: 0px 0px thin 0px;
  border-color:#4B79AD;
  background-color:#EBEBEC;
}

header h1 {
  font-weight: 350;
  color:	#191970;
  margin: 10px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

/*hide role-specific div html*/
div.Admin, div.TA, div.Manager {
  display: none;
}

header p {
  padding: 0 20px;
  margin: 0;
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: grey;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

body {
  font-family: 'Courier New', sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  clear: both;
}

/*             HEADER                  */

body h2 {
  font-weight: 300;
  /*color:	#191970;*/
  margin-left: -20px;
}
div#contactForm {
  margin-bottom: 10px;
  padding: 20px;
}


/*             FOOTER                  */

/*padding:10px 5px 15px 20px;
          top padding is 10px
          right padding is 5px
          bottom padding is 15px
          left padding is 20px*/



footer {
  font-size: 12px;
  background-color:#EBEBEC;
  width:auto;
  border-style: solid;
  border-width: thin 0px 0px 0px;
  border-color:#4B79AD;
  bottom:0;
  position:fixed;
  width: 100%;
}
div#footertext1 {
  float: left;

}
div#footertext2 {
}
div#footertext3 {
}
